/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background: #2e3339; }

.centered {
  margin: 0 auto;
  float: none; }

.hide {
  display: none; }

.preview_1 {
  position: absolute;
  left: 100px;
  top: 300px; }

#preview_2 {
  position: absolute;
  left: 937px;
  top: 20px;
  z-index: 501; }

.slide_out {
  left: 200px !important; }

.modal-tarp {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 30px 15px;
  z-index: 500; }

.code {
  color: white;
  position: absolute;
  left: 153px;
  top: 500px; }

body {
  font-family: "helvetica", arial, sans-serif; }

h1 {
  font-size: 2.125em;
  color: #384047;
  font-weight: 600;
  margin-bottom: 10px; }

h2 {
  font-size: 1.125em;
  line-height: 1.375em;
  color: #8d9aa5; }

.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: #5fcf80;
  padding: 12px 20px;
  text-decoration: none;
  border: 1px solid #3ac162;
  border-bottom: 3px solid #3ac162;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 209px;
  left: 783px; }
  .button:hover {
    background: #3ac162; }
  .button.button-grey {
    background: #83868a;
    border: 1px solid #606366;
    border-bottom: 3px solid #606366; }
    .button.button-grey:hover {
      background: #6a6d70; }
