body{
	margin: 0;
	background: $background;
}
.centered{
	margin: 0 auto;
	float: none;
}
.hide{
	display: none;
}
.preview_1{
	position: absolute;
	left: 100px;
	top: 300px;
}
#preview_2{
	position: absolute;
	left: 937px;
	top: 20px;
	z-index:501;
}

.slide_out{
	left: 200px !important;
}

.modal-tarp{
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 30px 15px;
	z-index: 500;
}

.code{
	color: $white;
	position: absolute;
	left: 153px;
	top: 500px;
}