body{
	margin: 0;
	background: $background;
}
.centered{
	margin: 0 auto;
	float: none;
}
.hide{
	display: none;
}
.preview_1{
	position: absolute;
	left: 100px;
	top: 300px;
}
#preview_2{
	position: absolute;
	left: 937px;
	top: 20px;
	z-index:501;
	@include transition(0.2s);
}

.slide_out{
	left: 50% !important;
	margin-left: -402px;
}

.modal-tarp{
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 30px 15px;
	z-index: 500;
}

.code{
	position: absolute;
	left: 153px !important;
	top: inherit !important;
	bottom: 50px;
}

.minimize{
	background: url("/img/minimize.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	opacity: .25;
	@include transition(0.2s);

	position: absolute;
	top: 20px;
	left: 100px;

	&:after{
		content: "";
		background: url("/img/exit.png");
		background-repeat: no-repeat;
		width: 108px;
		height: 28px;
		@include transition(0.2s);

		position: absolute;
		left: 36px;
		display: none;
	}

	&:hover{
		opacity: 1;
		&:after{
			display: inline !important;
		}
	}
}