.button{
	font-size: 14px;
	font-weight: $bold;
	color: $white;
	background: $green;
	padding: 12px 20px;
	text-decoration: none;
	border: 1px solid $green-dark;
	border-bottom: 3px solid $green-dark;
	@include text-shadow(0 1px 0 rgba(0,0,0,.4));
	@include border-radius(4px);
	@include transition(0.2s);

	position: absolute;
	top: 209px;
	left: 783px;

	&:hover{
		background: darken($green, 10%);
		border: 1px solid darken($green-dark, 5%);
		border-bottom: 3px solid darken($green-dark, 5%);
	}

	&.button-grey{
		background: $muted;
		border: 1px solid $muted-dark;
		border-bottom: 3px solid $muted-dark;
		&:hover{
			background: darken($muted, 10%);
			border: 1px solid darken($muted-dark, 5%);
			border-bottom: 3px solid darken($muted-dark, 5%);
		}
	}
	&.button-task2{
		top: 274px !important;
	}
}