---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="12.html" class="button button-grey">Check work</a>
<img src="img/11_task1.jpg" />