---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="13.html" class="button">Next task</a>
<img src="img/12_task1.jpg" />