---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="#" class="button button-task2">Check work</a>
<img src="img/13_task2.jpg" />