---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" class="animated fadeInRightBig" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="#" class="button">Check work</a>
<a class="button button-grey code" href="3.html">Click here to fake input answers</a>
<img src="img/2_task1.jpg" />