---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="#" class="button button-grey">Check again</a>
<a class="button button-grey code" href="7.html">Click here to fake input answers</a>
<img src="img/6_task1.jpg" />