---
title: Code Challenge | Introducing jQuery
---

<a href="#"><img id="preview_2" src="img/2_preview.png"/></a>
<div class="modal-tarp hide"></div>
<a href="8.html" class="button button-grey">Check again</a>
<img src="img/7_task1.jpg" />